<img src="https://www.globallogic.com/de/wp-content/uploads/sites/26/2019/10/Machine-Learning.jpg">

<br><br>

<H2><B> Integer linear programming model in "SageMath" for solving the problem of assigning qualified engineers to service requests in a software company. </B></H2>
<br><br>
<H3><I> Ismael Medina Mu√±oz </I></H3>

---

Next you will find code cells for loading auxiliary libraries. This model is executed using SageMath kernel.

In [1]:
import pandas as pd

Now we will declare the data structures necessary for the specification of the objective function and the constraints.

The following is the specification of the service request matrix. In this matrix, each client selects between 6 different services available.
Thus it is possible to describe the requests. For example: Customer 1 has requested 2 services of type 1, Customer 2 has requested a service of type 3, etc.

In [2]:
data = [['C1', 2, 0, 0, 0, 0, 0], 
        ['C2', 0, 0, 1, 0, 0, 0],
        ['C3', 1, 1, 0, 0, 0, 0],
        ['C4', 0, 0, 0, 0, 2, 0],
        ['C5', 0, 0, 0, 1, 0, 1]]

requests = pd.DataFrame(data, columns=['CustomerId', 'Service01', 'Service02', 
                                    'Service03', 'Service04', 'Service05', 
                                    'Service06'])

requests = requests.set_index(['CustomerId'])
requests

           Service01 Service02 Service03 Service04 Service05 Service06
CustomerId
C1                 2         0         0         0         0         0
C2                 0         0         1         0         0         0
C3                 1         1         0         0         0         0
C4                 0         0         0         0         2         0
C5                 0         0         0         1         0         1

The following is the accreditation matrix, each accreditation endorses the skills that each engineer has developed. Accreditations and your experience allow you to successfully fulfill service requests.
The following table shows which service requests can be resolved by each engineer.

In [3]:
data = [['E1', 0, 0, 1, 1, 0, 1], 
        ['E2', 0, 0, 1, 0, 1, 1],
        ['E3', 1, 1, 0, 1, 0, 0],
        ['E4', 0, 1, 0, 0, 1, 1],
        ['E5', 0, 0, 0, 1, 0, 1],
        ['E6', 1, 1, 1, 1, 0, 0]]

acreditations = pd.DataFrame(data, columns=['EngineerId', 'Service01', 'Service02', 
                                    'Service03', 'Service04', 'Service05', 
                                    'Service06'])

acreditations = acreditations.set_index(['EngineerId'])
acreditations

           Service01 Service02 Service03 Service04 Service05 Service06
EngineerId
E1                 0         0         1         1         0         1
E2                 0         0         1         0         1         1
E3                 1         1         0         1         0         0
E4                 0         1         0         0         1         1
E5                 0         0         0         1         0         1
E6                 1         1         1         1         0         0

Next, the table of free time of the engineers is shown, this table shows the number of free weeks that each engineer has to attend to service requests within the next 2 months.

In [4]:
data = [['E1', 2], 
        ['E2', 1],
        ['E3', 3],
        ['E4', 2],
        ['E5', 1],
        ['E6', 3]]

freeWeeks = pd.DataFrame(data, columns=['EngineerId', 'Weeks'])

freeWeeks = freeWeeks.set_index(['EngineerId'])

<br/>

Following matrix sets total costs by any engineer executing a service that the customer $ x $ is requesting.

In [5]:
data = [['E1', 120, 113,  91,  97,  60], 
        ['E2',  68,  97,  68, 127, 113],
        ['E3', 111, 115, 120, 114, 119],
        ['E4',  93, 113, 113,  93, 112],
        ['E5', 108,  67, 115, 115, 114],
        ['E6', 125, 107,  60, 113,  64]]

costs = pd.DataFrame(data, columns=['EngineerId', 'C1', 'C2', 'C3', 'C4', 'C5'])

costs = costs.set_index(['EngineerId'])
costs

             C1   C2   C3   C4   C5
EngineerId
E1          120  113   91   97   60
E2           68   97   68  127  113
E3          111  115  120  114  119
E4           93  113  113   93  112
E5          108   67  115  115  114
E6          125  107   60  113   64

<br/>
 
The following lines of code define the linear programming model. It is indicated that it is a minimization (cost) model. We declare a new variable called `Assignment` that is nonnegative and integer.

In [6]:
program = MixedIntegerLinearProgram(maximization=False)
assignment = program.new_variable(integer=True, nonnegative = True, name='Assignment')

<br/>

The following code describes customer service requests and their assignment to a possible pool of qualified engineers.

The objective function in the variable "sum", which contains the sum of the costs of assigning an engineer $ i $ to a customer $ j $.

The cell output shows the complete objective function. The objective function only needs 16 variables ($ x_0 $ to $ x_ {15} $) for its definition since those are enough combinations of customers, engineers and service requests.

In [7]:
summation = 0
for i in requests.index:
    if requests.Service01.loc[i] > 0:
        print("Customer", i, "requested", requests.Service01.loc[i], "services. Possible engineers:")
        for j in acreditations.index:
            if acreditations.Service01.loc[j] > 0:
                print("\tEngineer" , j, ". cost = $", costs[i].loc[j])
                summation = summation + costs[i].loc[j] * assignment[i, j]
    if requests.Service02.loc[i] > 0:
        print("Customer", i, "requested", requests.Service02.loc[i], "services. Possible engineers:")
        for j in acreditations.index:
            if acreditations.Service02.loc[j] > 0:
                print("\tEngineer" , j, ". cost = $", costs[i].loc[j])
                summation = summation + costs[i].loc[j] * assignment[i, j]
    if requests.Service03.loc[i] > 0:
        print("Customer", i, "requested", requests.Service03.loc[i], "services. Possible engineers:")
        for j in acreditations.index:
            if acreditations.Service03.loc[j] > 0:
                print("\tEngineer" , j, ". cost = $", costs[i].loc[j])
                summation = summation + costs[i].loc[j] * assignment[i, j]
    if requests.Service04.loc[i] > 0:
        print("Customer", i, "requested", requests.Service04.loc[i], "services. Possible engineers:")
        for j in acreditations.index:
            if acreditations.Service04.loc[j] > 0:
                print("\tEngineer" , j, ". cost = $", costs[i].loc[j])
                summation = summation + costs[i].loc[j] * assignment[i, j]
    if requests.Service05.loc[i] > 0:
        print("Customer", i, "requested", requests.Service05.loc[i], "services. Possible engineers:")
        for j in acreditations.index:
            if acreditations.Service05.loc[j] > 0:
                print("\tEngineer" , j, ". cost = $", costs[i].loc[j])
                summation = summation + costs[i].loc[j] * assignment[i, j]
    if requests.Service06.loc[i] > 0:
        print("Customer", i, "requested", requests.Service06.loc[i], "services. Possible engineers:")
        for j in acreditations.index:
            if acreditations.Service06.loc[j] > 0:
                print("\tEngineer" , j, ". cost = $", costs[i].loc[j])
                summation = summation + costs[i].loc[j] * assignment[i, j]

summation = summation - (costs['C3'].loc['E3']*assignment['C3','E3'] + costs['C3'].loc['E6']*assignment['C3','E6'] + costs['C5'].loc['E1']*assignment['C5','E1'] + costs['C5'].loc['E5']*assignment['C5','E5'])

program.set_objective(summation)
program.show()

Customer C1 requested 2 services. Possible engineers:
	Engineer E3 . cost = $ 111
	Engineer E6 . cost = $ 125
Customer C2 requested 1 services. Possible engineers:
	Engineer E1 . cost = $ 113
	Engineer E2 . cost = $ 97
	Engineer E6 . cost = $ 107
Customer C3 requested 1 services. Possible engineers:
	Engineer E3 . cost = $ 120
	Engineer E6 . cost = $ 60
Customer C3 requested 1 services. Possible engineers:
	Engineer E3 . cost = $ 120
	Engineer E4 . cost = $ 113
	Engineer E6 . cost = $ 60
Customer C4 requested 2 services. Possible engineers:
	Engineer E2 . cost = $ 127
	Engineer E4 . cost = $ 93
Customer C5 requested 1 services. Possible engineers:
	Engineer E1 . cost = $ 60
	Engineer E3 . cost = $ 119
	Engineer E5 . cost = $ 114
	Engineer E6 . cost = $ 64
Customer C5 requested 1 services. Possible engineers:
	Engineer E1 . cost = $ 60
	Engineer E2 . cost = $ 113
	Engineer E4 . cost = $ 112
	Engineer E5 . cost = $ 114
Minimization:
  111.0 Assignment[('C1', 'E3')] + 125.0 Assignment[('C1', 'E6')] + 113.0 Assignment[('C2', 'E1')] + 97.0 Assignment[('C2', 'E2')] + 107.0 Assignment[('C2', 'E6')] + 120.0 Assignment[('C3', 'E3')] + 60.0 Assignment[('C3', 'E6')] + 113.0 Assignment[('C3', 'E4')] + 127.0 Assignment[('C4', 'E2')] + 93.0 Assignment[('C4', 'E4')] + 60.0 Assignment[('C5', 'E1')] + 119.0 Assignment[('C5', 'E3')] + 114.0 Assignment[('C5', 'E5')] + 64.0 Assignment[('C5', 'E6')] + 113.0 Assignment[('C5', 'E2')] + 112.0 Assignment[('C5', 'E4')]

Constraints:
Variables:
  Assignment[('C1', 'E3')] = x_0 is an integer variable (min=0.0, max=+oo)
  Assignment[('C1', 'E6')] = x_1 is an integer variable (min=0.0, max=+oo)
  Assignment[('C2', 'E1')] = x_2 is an integer variable (min=0.0, max=+oo)
  Assignment[('C2', 'E2')] = x_3 is an integer variable (min=0.0, max=+oo)
  Assignment[('C2', 'E6')] = x_4 is an integer variable (min=0.0, max=+oo)
  Assignment[('C3', 'E3')] = x_5 is an integer variable (min=0.0, max=+oo)
  Assignment[('C3', 'E6')] = x_6 is an integer variable (min=0.0, max=+oo)
  Assignment[('C3', 'E4')] = x_7 is an integer variable (min=0.0, max=+oo)
  Assignment[('C4', 'E2')] = x_8 is an integer variable (min=0.0, max=+oo)
  Assignment[('C4', 'E4')] = x_9 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E1')] = x_10 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E3')] = x_11 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E5')] = x_12 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E6')] = x_13 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E2')] = x_14 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E4')] = x_15 is an integer variable (min=0.0, max=+oo)

<br/>

The linear programming model requires the definition of constraints that limit the minimization of the objective function.
We have two types of restrictions, the first related to accreditations and the second is the number of weeks available for delivery.

In [8]:
program.add_constraint(assignment[('C2', 'E1')] + assignment[('C5', 'E1')] <= freeWeeks.loc['E1'].Weeks)
program.add_constraint(assignment[('C2', 'E2')] + assignment[('C4', 'E2')] + assignment[('C5', 'E2')] <= freeWeeks.loc['E2'].Weeks)
program.add_constraint(assignment[('C1', 'E3')] + assignment[('C3', 'E3')] + assignment[('C5', 'E3')] <= freeWeeks.loc['E3'].Weeks)
program.add_constraint(assignment[('C3', 'E4')] + assignment[('C4', 'E4')] + assignment[('C5', 'E4')] <= freeWeeks.loc['E4'].Weeks)
program.add_constraint(assignment[('C5', 'E5')] <= freeWeeks.loc['E5'].Weeks)
program.add_constraint(assignment[('C1', 'E6')] + assignment[('C2', 'E6')] + assignment[('C3', 'E6')] + assignment[('C5', 'E6')] <= freeWeeks.loc['E6'].Weeks)

<br/>

The following restrictions limit that only the exact number of services will be completed by accredited engineers to deliver that service.

In [9]:
program.add_constraint(assignment[('C1', 'E3')] + assignment[('C1', 'E6')] == requests.loc['C1'].sum())
program.add_constraint(assignment[('C2', 'E1')] + assignment[('C2', 'E2')] + assignment[('C2', 'E6')] == requests.loc['C2'].sum())
program.add_constraint(assignment[('C3', 'E3')] + assignment[('C3', 'E6')] + assignment[('C3', 'E4')] == requests.loc['C3'].sum())
program.add_constraint(assignment[('C4', 'E2')] + assignment[('C4', 'E4')] == requests.loc['C4'].sum())
program.add_constraint(assignment[('C5', 'E1')] + assignment[('C5', 'E3')] + assignment[('C5', 'E5')] + assignment[('C5', 'E6')] + assignment[('C5', 'E2')] + assignment[('C5', 'E4')] == requests.loc['C5'].sum())
program.show()

Minimization:
  111.0 Assignment[('C1', 'E3')] + 125.0 Assignment[('C1', 'E6')] + 113.0 Assignment[('C2', 'E1')] + 97.0 Assignment[('C2', 'E2')] + 107.0 Assignment[('C2', 'E6')] + 120.0 Assignment[('C3', 'E3')] + 60.0 Assignment[('C3', 'E6')] + 113.0 Assignment[('C3', 'E4')] + 127.0 Assignment[('C4', 'E2')] + 93.0 Assignment[('C4', 'E4')] + 60.0 Assignment[('C5', 'E1')] + 119.0 Assignment[('C5', 'E3')] + 114.0 Assignment[('C5', 'E5')] + 64.0 Assignment[('C5', 'E6')] + 113.0 Assignment[('C5', 'E2')] + 112.0 Assignment[('C5', 'E4')]

Constraints:
  Assignment[('C2', 'E1')] + Assignment[('C5', 'E1')] <= 2.0
  Assignment[('C2', 'E2')] + Assignment[('C4', 'E2')] + Assignment[('C5', 'E2')] <= 1.0
  Assignment[('C1', 'E3')] + Assignment[('C3', 'E3')] + Assignment[('C5', 'E3')] <= 3.0
  Assignment[('C3', 'E4')] + Assignment[('C4', 'E4')] + Assignment[('C5', 'E4')] <= 2.0
  Assignment[('C5', 'E5')] <= 1.0
  Assignment[('C1', 'E6')] + Assignment[('C2', 'E6')] + Assignment[('C3', 'E6')] + Assignment[('C5', 'E6')] <= 3.0
  2.0 <= Assignment[('C1', 'E3')] + Assignment[('C1', 'E6')] <= 2.0
  1.0 <= Assignment[('C2', 'E1')] + Assignment[('C2', 'E2')] + Assignment[('C2', 'E6')] <= 1.0
  2.0 <= Assignment[('C3', 'E3')] + Assignment[('C3', 'E6')] + Assignment[('C3', 'E4')] <= 2.0
  2.0 <= Assignment[('C4', 'E2')] + Assignment[('C4', 'E4')] <= 2.0
  2.0 <= Assignment[('C5', 'E1')] + Assignment[('C5', 'E3')] + Assignment[('C5', 'E5')] + Assignment[('C5', 'E6')] + Assignment[('C5', 'E2')] + Assignment[('C5', 'E4')] <= 2.0
Variables:
  Assignment[('C1', 'E3')] = x_0 is an integer variable (min=0.0, max=+oo)
  Assignment[('C1', 'E6')] = x_1 is an integer variable (min=0.0, max=+oo)
  Assignment[('C2', 'E1')] = x_2 is an integer variable (min=0.0, max=+oo)
  Assignment[('C2', 'E2')] = x_3 is an integer variable (min=0.0, max=+oo)
  Assignment[('C2', 'E6')] = x_4 is an integer variable (min=0.0, max=+oo)
  Assignment[('C3', 'E3')] = x_5 is an integer variable (min=0.0, max=+oo)
  Assignment[('C3', 'E6')] = x_6 is an integer variable (min=0.0, max=+oo)
  Assignment[('C3', 'E4')] = x_7 is an integer variable (min=0.0, max=+oo)
  Assignment[('C4', 'E2')] = x_8 is an integer variable (min=0.0, max=+oo)
  Assignment[('C4', 'E4')] = x_9 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E1')] = x_10 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E3')] = x_11 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E5')] = x_12 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E6')] = x_13 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E2')] = x_14 is an integer variable (min=0.0, max=+oo)
  Assignment[('C5', 'E4')] = x_15 is an integer variable (min=0.0, max=+oo)

<br/>

Now we will run the "Sagemath" solver. The minimum cost of assigning engineers to client requests delimited by restrictions is $ 745.00.

In [10]:
solution = program.solve()
print(solution)

745.0

<br/>

Now the system resolution is invoked. For this case, the minimum cost of assigning engineers to client requests is $ 745.00.
This is the minimum cost that can be obtained under the constraints specified in the model.

In [11]:
summation = 0
previouskey = ''
for key, val in program.get_values(assignment).items():
    ##if val != 0:
    solicitudestotal = requests.Service01.loc[key[0]] + requests.Service02.loc[key[0]] + requests.Service03.loc[key[0]] + requests.Service04.loc[key[0]] + requests.Service05.loc[key[0]] + requests.Service06.loc[key[0]]
    if previouskey != key[0]:
        print("Customer", key[0] , "requested", solicitudestotal, "services")
        previouskey = key[0]
    parcial = val * costs[key[0]].loc[key[1]]
    summation += parcial
    print("\tEngineer", key[1] , "will execute {:.0f}".format(val), "services. Cost is ${:,.2f}".format(parcial))
print("\nTotal program cost = ${:,.2f}".format(summation))

Customer C1 requested 2 services
	Engineer E3 will execute 2 services. Cost is $222.00
	Engineer E6 will execute 0 services. Cost is $0.00
Customer C2 requested 1 services
	Engineer E1 will execute 0 services. Cost is $0.00
	Engineer E2 will execute 1 services. Cost is $97.00
	Engineer E6 will execute 0 services. Cost is $0.00
Customer C3 requested 2 services
	Engineer E3 will execute 0 services. Cost is $0.00
	Engineer E6 will execute 2 services. Cost is $120.00
	Engineer E4 will execute 0 services. Cost is $0.00
Customer C4 requested 2 services
	Engineer E2 will execute 0 services. Cost is $0.00
	Engineer E4 will execute 2 services. Cost is $186.00
Customer C5 requested 2 services
	Engineer E1 will execute 2 services. Cost is $120.00
	Engineer E3 will execute 0 services. Cost is $0.00
	Engineer E5 will execute 0 services. Cost is $0.00
	Engineer E6 will execute 0 services. Cost is $0.00
	Engineer E2 will execute 0 services. Cost is $0.00
	Engineer E4 will execute 0 services. Cost is $0.00

Total program cost = $745.00